<html>

<head>
   <title>{{title}}</title>
</head>
<body>
    
   {% for n in clist %}
   <div>{{n}}</div>
   {% endfor %}


   <br>

   <table border="1" cellpadding="10">
      <tr>
         <th>Name</th>
         <th>Phone Number</th>
      </tr>
      {% for d in student_details %}
      <tr>
         <th>{{d.name}}</th>
         <th>{{d.phone}}</th>
      </tr>
      {% endfor %}

   </table>

   {% if numbers|length > 0 %}

   {% for n in numbers %}
      {% if n > 20 %}
         <div>{{n}}</div>
      {% endif %}
   {% endfor %}
   {% else %}
      No data found
   {% endif %}
   
</body>
</html>