<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>timetable</title>
    <style>
        table{
            border-collapse: collapse;
            width: 100%;
            font-size: 14px;
        }
        td,th{
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 align="center">Kolhapur institue of technology</h1>
    <h3 align="center">Timetable (F.Y B.Tech Sem-2) Division-F</h3>
    <table>
        <tr>
            <th>Day</th>
            <th>9.15 to 10.05</th>
            <th>10.05 to 10.55 </th>
            
            <th rowspan="6"class="break" >Recess <br>(20 min) </th>
            <th>11.15 to 12.05</th>
            <th>12.05 to 12.55</th>
            <th rowspan="6" class="break">Lunch <br>Break <br>(50 min)</th>
            <th>1.45 to 2.35</th>
            <th>2.35 to 3.25</th>
        </tr>
        <tr>
            <th class="day">Tue</th>
            <th>OMP <br>Dr.Dipti Kulkarni <br>BSHCR-03</th>
            <th>EM-II <br>DR.Mujir Makandar <br>BSHCR-03</th>
            <th>f-1 <br>DS <br>IOT LAB</th>
            <TH>F-2<BR>WD <br>CAEG LAB</TH>
            <th>DS <br>Mr.Sanjay Patil <br>BSHCR-08</th>
            <TH>PP <br>Mr.Vaibhav Herwade <br>BSHCR-08</TH>

        </tr>
        <tr>
            <th class="day">Wed</th>
            <th>OMP <br>Dr.Dipti Kulkarni <br>BSHCR-03</th>
            <th>EM-II <br>DR.Mujir Makandar <br>BSHCR-03</th>
            <th>f-1 <br>DS <br>IOT LAB</th>
            <TH>F-2<BR>WD <br>CAEG LAB</TH>
            <th>DS <br>Mr.Sanjay Patil <br>BSHCR-08</th>
            <TH>PP <br>Mr.Vaibhav Herwade <br>BSHCR-08</TH>

        </tr>
        <tr>
            <th class="day">Thu</th>
            <th>OMP <br>Dr.Dipti Kulkarni <br>BSHCR-03</th>
            <th>EM-II <br>DR.Mujir Makandar <br>BSHCR-03</th>
            <th>f-1 <br>DS <br>IOT LAB</th>
            <TH>F-2<BR>WD <br>CAEG LAB</TH>
            <th>DS <br>Mr.Sanjay Patil <br>BSHCR-08</th>
            <TH>PP <br>Mr.Vaibhav Herwade <br>BSHCR-08</TH>

        </tr>
        <tr>
            <th class="day">Fri</th>
            <th>OMP <br>Dr.Dipti Kulkarni <br>BSHCR-03</th>
            <th>EM-II <br>DR.Mujir Makandar <br>BSHCR-03</th>
            <th>f-1 <br>DS <br>IOT LAB</th>
            <TH>F-2<BR>WD <br>CAEG LAB</TH>
            <th>DS <br>Mr.Sanjay Patil <br>BSHCR-08</th>
            <TH>PP <br>Mr.Vaibhav Herwade <br>BSHCR-08</TH>

        </tr>
        <tr>
            <th class="day">Sat</th>
            <th>OMP <br>Dr.Dipti Kulkarni <br>BSHCR-03</th>
            <th>EM-II <br>DR.Mujir Makandar <br>BSHCR-03</th>
            <th>f-1 <br>DS <br>IOT LAB</th>
            <TH>F-2<BR>WD <br>CAEG LAB</TH>
            <th>DS <br>Mr.Sanjay Patil <br>BSHCR-08</th>
            <TH>PP <br>Mr.Vaibhav Herwade <br>BSHCR-08</TH>

        </tr>
    </table>
</body>
</html>